# Build
/build

# Node modules & Packages
node_modules
/package

# SvelteKit
/.svelte-kit

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Environment
.DS_Store
.env
.env.*
!.env.example
.vscode

# PNPM, NPM & Yarn
pnpm-lock.yaml
package-lock.json
yarn.lock
