:root {
	--odd-black: #000000;
	--odd-gray: #f8f8f8;
	--odd-white: #ffffff;
	--odd-green-light: #eefef7;
	--odd-green-medium: #53f8be;
	--odd-green-dark: #257051;
	--odd-grey-light: #f2f1f4;
	--odd-grey-semilight: #c7c3ce;
	--odd-grey-medium: #7d738c;
	--odd-grey-dark: #38343f;
	--odd-pink-light: #ffecf3;
	--odd-pink-medium: #fe4382;
	--odd-pink-dark: #721e3a;
	--odd-purple-light: #f1e8fd;
	--odd-purple-medium: #7271e8;
	--odd-purple-dark: #330a68;
	--odd-yellow-light: #fff7e9;
	--odd-yellow-medium: #ffb31f;
	--odd-yellow-dark: #73510e;
}

* {
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	font: inherit;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	display: table;
	font-size: 16px !important;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background-color: var(--odd-white);
	display: table-cell;
	height: 100%;
	position: absolute;
	width: 100%;
}
